{% extends 'layout.html' %}
{% load static %}
{% block style %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <section class="hero">
        <h1>My life. My Blog.</h1>
        <p>Witaj na moim blogu. Znajdziesz tu moje przemyślenia, historie i codzienne życie.</p>

    </section>

    <section class="latest-posts">
        <h2>Ostatnie wpisy</h2>
        {% for post in posts %}
            <article>
                <h3>{{post.title}}</h3>
                <p>{{post.date}}</p>
                <p>{{post.body}}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}